{% extends 'base.html' %} {% block title %} All Poems from Raian Maruvin's
Selected Poems {% endblock title %}
<!-- Meta Tags -->
<!-- prettier-ignore -->
{% block metatags %}{% include 'meta_tags.html' with title='All Poems from Raian Maruvin\'s Selected Poems' description='' %}{% endblock metatags %}
<!-- End of Meta Tags -->
{% block styleContainer %}
<style>
    .card-wrapper {
        width: 100%;
    }
    .all-poem-card {
        --max-lines: 10;
        width: calc(var(--unit-a) * 13);
        height: calc(var(--unit-a) * 14);
        margin: calc(var(--unit-a) * 1) calc(var(--unit-a) * 2);
        padding: calc(var(--unit-a) * 1.8) calc(var(--unit-a) * 1.2);
    }

    @media screen and (min-width: 1000px) {
        .all-poem-card {
            --max-lines: 10;
            margin: calc(var(--unit-a) * 2);
        }
    }
</style>
{% endblock %} {% block bodyContainer %}
<div
    class="
        page-wrapper
        width100
        display-flex display-flex-center display-flex-column
        parallax-foreground
    "
>
    <div class="top-wrapper width100 margin-a">
        <a class="no-select" href="{% url back_url %}">
            <button
                class="
                    margin-d
                    font-size-3 font-chilanka
                    background-color-a
                    border-radius-b
                    button-b
                    no-select
                "
            >
                <svg
                    class="svg-back"
                    xmlns="http://www.w3.org/2000/svg"
                    width="45.8"
                    height="38.3"
                    viewBox="0 0 45.8 38.3"
                >
                    <g transform="translate(-185.2 -725)">
                        <rect
                            width="45.8"
                            height="38.3"
                            rx="19.15"
                            transform="translate(185.2 725)"
                            fill="none"
                        />
                        <line
                            x2="37.27"
                            transform="translate(190.713 744.07)"
                            fill="none"
                            stroke-linecap="round"
                        />
                        <path
                            d="M13143.351-90.692l-16.1,16.1,16.1,16.1"
                            transform="translate(-12939.001 818.708)"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </g>
                </svg>
                &nbspGo Back
            </button>
        </a>
    </div>
    <div class="title-wrapper width80">
        <p class="heading font-size-1 font-caveat text-color-a">All Poems.</p>
    </div>
    <div
        class="
            card-wrapper
            display-flex display-flex-center display-flex-row-wrap
        "
    >
        {% for poem in payload %}
        <!-- prettier-ignore -->
        <a
            class="
                all-poem-card
                padding-c
                border-radius-a
                shadow-a
                no-select
                {% cycle 'background-color-b' 'background-color-c' 'background-color-d' 'background-color-c' 'background-color-d' %}
            "
            href="{% url 'poem' poem_index=forloop.counter %}{{'?back=poems'}}"
        >
            <p
                class="
                    card-heading margin-c
                    font-size-4 font-chilanka
                    text-color-b text-overflow-ellipsis
                "
            >
                {{poem.title}}
            </p>
            <p
                class="
                    card-body-text
                    font-size-5 font-montserrat-italic
                    text-color-b text-overflow-max-lines
                "
            >
                {% for line in poem.poemLinesArray %} {{line|linebreaksbr}}
                <!--  -->
                {% endfor %}
            </p>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
<!-- prettier-ignore -->
{% block scrollbutton %} {% include 'scroll_top_button.html' %}{% endblock scrollbutton %}
