{% extends 'base.html' %}{% block styleContainer %}
<style>
    .home-left-right-section-width {
        width: 100%;
    }

    .home-left {
        justify-content: center;
        align-items: flex-start;
        height: max-content;
        min-height: 95vh;
    }

    .heading-wrapper {
        margin: calc(var(--unit-a) * 2) 0;
    }

    .heading-wrapper > div {
        max-width: 80%;
    }

    .sub-heading {
        padding: calc(var(--unit-a) * 0.3) calc(var(--unit-a) * 0.5)
            calc(var(--unit-a) * 0.1) calc(var(--unit-a) * 0.5);
        margin-left: calc(var(--unit-a) * 1.5);
    }

    .heading {
        padding: 0 calc(var(--unit-a) * 1.5);
    }

    .button-wrapper {
        padding: 5% 5% 5% calc(5% + calc(var(--unit-a) * 1.5));
    }

    .home-right {
        margin-top: calc(var(--unit-a) * 1);
        margin-bottom: calc(var(--unit-a) * 8);
    }

    .card {
        transform: translate(-50%, -50%);
    }

    .step-a {
        height: calc(var(--unit-a) * 7);
    }

    .step-a > .card:nth-child(1) {
        top: 26%;
        left: 72%;
        width: calc(var(--unit-a) * 8);
        height: calc(var(--unit-a) * 9);
    }

    .step-b {
        height: calc(var(--unit-a) * 10);
    }

    .step-b > .card:nth-child(1) {
        top: 28%;
        left: 29%;
        width: calc(var(--unit-a) * 8);
        height: calc(var(--unit-a) * 9);
    }

    .step-b > .card:nth-child(2) {
        --max-lines: 4;
        top: 57%;
        left: 75%;
        width: calc(var(--unit-a) * 7.2);
        height: calc(var(--unit-a) * 8);
    }

    .step-c {
        height: calc(var(--unit-a) * 14);
    }

    .step-c > .card:nth-child(1) {
        --max-lines: 8;
        top: 50%;
        left: 47%;
        width: calc(var(--unit-a) * 10);
        height: calc(var(--unit-a) * 11.5);
    }

    .step-d {
        height: calc(var(--unit-a) * 10);
    }

    .step-d > .card:nth-child(1) {
        top: 48%;
        left: 27%;
        width: calc(var(--unit-a) * 8);
        height: calc(var(--unit-a) * 9);
    }

    .parallax-card-a {
        top: -106%;
        left: -2%;
        width: calc(var(--unit-a) * 3.6);
        height: calc(var(--unit-a) * 3.6);
    }

    .parallax-card-b {
        top: 68%;
        left: -3%;
        width: calc(var(--unit-a) * 4);
        height: calc(var(--unit-a) * 4);
    }

    .parallax-card-c {
        top: -20%;
        left: 79%;
        width: calc(var(--unit-a) * 3);
        height: calc(var(--unit-a) * 3);
    }

    .parallax-card-d {
        top: 40%;
        left: 12%;
        width: calc(var(--unit-a) * 4.2);
        height: calc(var(--unit-a) * 4.2);
    }

    .parallax-card-e {
        top: 68%;
        left: 45%;
        width: calc(var(--unit-a) * 7);
        height: calc(var(--unit-a) * 7);
    }

    .parallax-card-f {
        top: 19%;
        left: 77%;
        width: calc(var(--unit-a) * 3.4);
        height: calc(var(--unit-a) * 3.4);
    }

    .parallax-card-g {
        top: 76%;
        left: 1%;
        width: calc(var(--unit-a) * 4.2);
        height: calc(var(--unit-a) * 4.4);
    }
    /*  */
    /* To change layout from mobile: top-bottom to web: left-right */

    @media screen and (min-width: 600px) {
        .svg-size {
            background-size: 140%;
        }
        .home-wrapper {
            flex-flow: row;
        }
        .home-left-right-section-width {
            width: 50%;
        }
        .home-left {
            position: sticky;
            position: -webkit-sticky;
            top: 0;
            min-height: 100vh;
        }
        .home-right {
            margin-top: calc(var(--unit-a) * 12);
            margin-bottom: 90vh;
        }
    }

    @media screen and (min-width: 1000px) {
        .svg-size {
            background-size: 100%;
        }
        .step-a {
            height: calc(var(--unit-a) * 11);
        }
        .step-a > .card:nth-child(1) {
            --max-lines: 6;
            top: 26%;
            left: 72%;
            width: calc(var(--unit-a) * 10);
            height: calc(var(--unit-a) * 11);
        }
        .step-b {
            height: calc(var(--unit-a) * 14);
        }
        .step-b > .card:nth-child(1) {
            --max-lines: 7;
            top: 28%;
            left: 29%;
            width: calc(var(--unit-a) * 11);
            height: calc(var(--unit-a) * 12);
        }
        .step-b > .card:nth-child(2) {
            --max-lines: 6;
            top: 57%;
            left: 75%;
            width: calc(var(--unit-a) * 9.2);
            height: calc(var(--unit-a) * 10.5);
        }
        .step-c {
            height: calc(var(--unit-a) * 18);
        }
        .step-c > .card:nth-child(1) {
            --max-lines: 9;
            top: 50%;
            left: 47%;
            width: calc(var(--unit-a) * 13);
            height: calc(var(--unit-a) * 14.5);
        }
        .step-d {
            height: calc(var(--unit-a) * 14);
        }
        .step-d > .card:nth-child(1) {
            --max-lines: 7;
            top: 48%;
            left: 27%;
            width: calc(var(--unit-a) * 11);
            height: calc(var(--unit-a) * 12);
        }
        .parallax-card-a {
            left: -11%;
        }
    }
</style>
{% endblock %} {% block bodyContainer %}
<div
    class="
        home-wrapper
        width100
        display-flex display-flex-column
        parallax-foreground
        position-relative
    "
>
    <div
        class="
            home-left home-left-right-section-width
            display-flex display-flex-column
        "
    >
        <div class="heading-wrapper padding5">
            <div
                class="
                    width-max-content
                    margin-a
                    background-color-a
                    border-radius-b
                "
            >
                <p class="sub-heading font-size-4 font-chilanka text-color-c">
                    {{payload.sub_heading}}
                </p>
            </div>
            <p class="heading font-size-1 font-caveat text-color-a">
                {{payload.title}}
            </p>
        </div>
        <div class="button-wrapper padding5">
            <!-- <button
                class="
                    margin-b
                    font-size-3 font-chilanka
                    background-color-a
                    border-radius-b
                    button-a
                    no-select
                "
            >
                <svg
                    class="svg-search"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 76.364 76.364"
                >
                    <g transform="translate(-256 -64)">
                        <g
                            transform="translate(256 64)"
                            fill="none"
                            stroke-linecap="round"
                        >
                            <circle cx="32" cy="32" r="32" stroke="none" />
                            <circle cx="32" cy="32" r="27.5" fill="none" />
                        </g>
                        <line
                            x2="16"
                            y2="16"
                            transform="translate(310 118)"
                            fill="none"
                            stroke-linecap="round"
                        />
                    </g>
                </svg>
                &nbspSEARCH
            </button> -->
            <a class="no-select" href="{% url 'poems' %}{{'?back=home'}}">
                <button
                    class="
                        margin-b
                        font-size-3 font-chilanka
                        background-color-a
                        border-radius-b
                        button-a
                        no-select
                    "
                >
                    ALL POEMS
                </button>
            </a>
            <a class="no-select" href="{% url 'index' %}{{'?back=home'}}">
                <button
                    class="
                        margin-b
                        font-size-3 font-chilanka
                        background-color-a
                        border-radius-b
                        button-a
                        no-select
                    "
                >
                    INDEX
                </button>
            </a>
            <a class="no-select" href="{% url 'random' %}{{'?back=home'}}">
                <button
                    class="
                        margin-b
                        font-size-3 font-chilanka
                        background-color-a
                        border-radius-b
                        button-a
                        no-select
                    "
                >
                    RANDOM
                </button>
            </a>
            <!-- <button
                class="
                    margin-b
                    font-size-3 font-chilanka
                    background-color-a
                    border-radius-b
                    button-a
                    no-select
                "
            >
                CATEGORIES
            </button> -->
            <!-- <button
                class="
                    margin-b
                    font-size-3 font-chilanka
                    background-color-a
                    border-radius-b
                    button-a
                    no-select
                "
            >
                OTHER FAVOURITES
            </button> -->
        </div>
    </div>
    <div
        class="
            home-right home-left-right-section-width
            min-height100
            display-flex display-flex-center display-flex-column
        "
    >
        <!-- {% for indexGroup in payload.poems_list %}
        <div>
            {% for index in indexGroup %}
            <p>{{index}}</p>
            {% endfor %}
        </div>
        {% endfor %} -->
        {% for indexGroup in payload.poems_list %}
        <div class="poemsGroup width100">
            {% widthratio forloop.counter0 1 '5' as res %}
            <div class="step-a width100 position-relative">
                <a
                    class="
                        card
                        position-absolute
                        paddingtb4-lr3
                        background-color-d
                        border-radius-a
                        shadow-c
                        no-select
                    "
                    href="{% url 'poem' poem_index=res|add:'1'%}{{'?back=home'}}"
                >
                    <p
                        class="
                            card-heading
                            font-size-4 font-chilanka
                            text-color-b text-overflow-ellipsis
                        "
                    >
                        {{indexGroup.0.titleArray}}
                    </p>
                    <p
                        class="
                            card-body-text
                            font-size-5 font-montserrat-italic
                            text-color-b text-overflow-max-lines
                        "
                    >
                        {% for line in indexGroup.0.poemLinesArray %}
                        {{line|linebreaksbr}} {% endfor %}
                    </p>
                </a>
                <div
                    class="
                        parallax-card parallax-card-a
                        z-index1
                        background-color-l
                        border-radius-c
                    "
                ></div>
            </div>
            <div class="step-b width100 position-relative">
                <a
                    class="
                        card
                        position-absolute
                        paddingtb4-lr3
                        background-color-b
                        border-radius-a
                        shadow-a
                        no-select
                    "
                    href="{% url 'poem' poem_index=res|add:'2'%}{{'?back=home'}}"
                >
                    <p
                        class="
                            card-heading
                            font-size-4 font-chilanka
                            text-color-b text-overflow-ellipsis
                        "
                    >
                        {{indexGroup.1.titleArray}}
                    </p>
                    <p
                        class="
                            card-body-text
                            font-size-5 font-montserrat-italic
                            text-color-b text-overflow-max-lines
                        "
                    >
                        {% for line in indexGroup.1.poemLinesArray %}
                        {{line|linebreaksbr}} {% endfor %}
                    </p>
                </a>
                <a
                    class="
                        card
                        position-absolute
                        paddingtb4-lr3
                        background-color-b
                        border-radius-a
                        shadow-d
                        no-select
                    "
                    href="{% url 'poem' poem_index=res|add:'3' %}{{'?back=home'}}"
                >
                    <p
                        class="
                            card-heading
                            font-size-4 font-chilanka
                            text-color-b text-overflow-ellipsis
                        "
                    >
                        {{indexGroup.2.titleArray}}
                    </p>
                    <p
                        class="
                            card-body-text
                            font-size-5 font-montserrat-italic
                            text-color-b text-overflow-max-lines
                        "
                    >
                        {% for line in indexGroup.2.poemLinesArray %}
                        {{line|linebreaksbr}} {% endfor %}
                    </p>
                </a>
                <div
                    class="
                        parallax-card parallax-card-b
                        z-index1
                        background-color-i
                        border-radius-c
                    "
                ></div>
                <div
                    class="
                        parallax-card parallax-card-c
                        z-index1
                        background-color-k
                        border-radius-d
                    "
                ></div>
            </div>
            <div class="step-c width100 position-relative">
                <a
                    class="
                        card
                        position-absolute
                        paddingtb4-lr3
                        background-color-c
                        border-radius-a
                        shadow-b
                        no-select
                    "
                    href="{% url 'poem' poem_index=res|add:'4' %}{{'?back=home'}}"
                >
                    <p
                        class="
                            card-heading
                            font-size-4 font-chilanka
                            text-color-b text-overflow-ellipsis
                        "
                    >
                        {{indexGroup.3.titleArray}}
                    </p>
                    <p
                        class="
                            card-body-text
                            font-size-5 font-montserrat-italic
                            text-color-b text-overflow-max-lines
                        "
                    >
                        {% for line in indexGroup.3.poemLinesArray %}
                        {{line|linebreaksbr}} {% endfor %}
                    </p>
                </a>
                <div
                    class="
                        parallax-card parallax-card-d
                        z-index1
                        background-color-f
                        border-radius-c
                    "
                ></div>
                <div
                    class="
                        parallax-card parallax-card-e
                        z-index-minus1
                        background-color-j
                        border-radius-c
                    "
                ></div>
                <div
                    class="
                        parallax-card parallax-card-f
                        z-index1
                        background-color-g
                        border-radius-c
                    "
                ></div>
            </div>
            <div class="step-d width100 position-relative">
                <a
                    class="
                        card
                        position-absolute
                        paddingtb4-lr3
                        background-color-b
                        border-radius-a
                        shadow-a
                        no-select
                    "
                    href="{% url 'poem' poem_index=res|add:'5' %}{{'?back=home'}}"
                >
                    <p
                        class="
                            card-heading
                            font-size-4 font-chilanka
                            text-color-b text-overflow-ellipsis
                        "
                    >
                        {{indexGroup.4.titleArray}}
                    </p>
                    <p
                        class="
                            card-body-text
                            font-size-5 font-montserrat-italic
                            text-color-b text-overflow-max-lines
                        "
                    >
                        {% for line in indexGroup.4.poemLinesArray %}
                        {{line|linebreaksbr}} {% endfor %}
                    </p>
                </a>
                <div
                    class="
                        parallax-card parallax-card-g
                        z-index1
                        background-color-h
                        border-radius-c
                    "
                ></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
