{% extends 'base.html' %} {% block title %} Index of Raian Maruvin's Selected
Poems {% endblock title %}
<!-- Meta Tags -->
<!-- prettier-ignore -->
{% block metatags %}{% include 'meta_tags.html' with title='Index of Raian Maruvin\'s Selected Poems' description='' %}{% endblock metatags %}
<!-- End of Meta Tags -->
{% block styleContainer %}
<style>
    .card-body-text {
        /* logic: 100% - padding -> max-width: calc(100% - var(--unit-b) * 1); */
        max-width: calc(100% - var(--unit-b) * 1);
    }
    .card-body-text span {
        background-image: linear-gradient(
            var(--background-color-n),
            var(--background-color-n)
        );
        background-repeat: no-repeat;
        background-size: 0 calc(var(--unit-a) * 0.1);
        background-position: 0 100%;
    }
    /*  */

    /* @media (hover: hover) and (pointer: fine) To remove sticky hover state in device with touch input like crome on android */
    @media (hover: hover) and (pointer: fine) and (prefers-reduced-motion: no-preference) {
        .card-body-text:hover,
        a:focus .card-body-text {
            color: var(--text-color-a);
            font-weight: 900;
        }
        .card-body-text:hover span,
        a:focus .card-body-text span {
            background-size: 100% calc(var(--unit-a) * 0.1);
            transition: all 0.3s ease;
        }
    }
    /* Active state css written after hover state so hover state css does not override active state css */
    .card-body-text:active,
    .card-body-text:active span {
        font-weight: 900;
        color: var(--text-color-b);
        background-color: var(--background-color-n);
    }
    /* transitions on mobile screen affect tap which is same as :active thus added only in larger screens*/
    @media screen and (min-width: 1000px) and (prefers-reduced-motion: no-preference) {
        .card-body-text span {
            transition: 0.2s ease all 0.2s;
        }
    }
    /*
    @media (prefers-reduced-motion: reduce){//transition: none;}
    @media (prefers-reduced-motion: no-preference){// add transitions here}
    on-screen movement can cause sickness and even seizures in some folk.
    A setting in OS indicates the prefered reduced movement
    detected by browsers, passed to site, sites detect preference
    and use a prefers-reduced-motion media query to turn off your transitions
    */
    @media (prefers-reduced-motion: no-preference) {
    }
</style>
{% endblock %} {% block bodyContainer %}
<div
    class="
        page-wrapper
        width100
        display-flex display-flex-center display-flex-column
        parallax-foreground
    "
>
    <div class="top-wrapper width100 margin-a">
        <a class="no-select" href="{% url back_url %}">
            <button
                class="
                    margin-d
                    font-size-3 font-chilanka
                    background-color-a
                    border-radius-b
                    button-b
                    no-select
                "
            >
                <svg
                    class="svg-back"
                    xmlns="http://www.w3.org/2000/svg"
                    width="45.8"
                    height="38.3"
                    viewBox="0 0 45.8 38.3"
                >
                    <g transform="translate(-185.2 -725)">
                        <rect
                            width="45.8"
                            height="38.3"
                            rx="19.15"
                            transform="translate(185.2 725)"
                            fill="none"
                        />
                        <line
                            x2="37.27"
                            transform="translate(190.713 744.07)"
                            fill="none"
                            stroke-linecap="round"
                        />
                        <path
                            d="M13143.351-90.692l-16.1,16.1,16.1,16.1"
                            transform="translate(-12939.001 818.708)"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </g>
                </svg>
                &nbspGo Back
            </button>
        </a>
    </div>
    <div class="title-wrapper width80">
        <p class="heading font-size-1 font-caveat text-color-a">Index.</p>
    </div>
    <div class="text-wrapper padding-e background-color-e">
        {% for entry in payload %}
        <a
            class="no-select"
            href="{% url 'poem' poem_index=forloop.counter %}{{'?back=index'}}"
        >
            <p
                class="
                    card-body-text
                    position-relative
                    width-max-content
                    padding-d
                    font-size-3 font-montserrat-italic
                    text-color-d
                "
            >
                <span
                    >&nbsp;{{forloop.counter}}.&nbsp;&nbsp;&nbsp;&nbsp;{{entry.title}}</span
                >
            </p>
        </a>
        {%endfor %}
    </div>
</div>
{% endblock %}
<!-- prettier-ignore -->
{% block scrollbutton %} {% include 'scroll_top_button.html' %}{% endblock scrollbutton %}
